<!-- Form: Update Hero -->
<form *ngIf="formUpdateHero !== null" class="form-update-hero" [formGroup]="formUpdateHero" (ngSubmit)="onSubmit()">
  <table>
    <tr>
      <td>id:</td>
      <td>{{hero._id}}</td>
    </tr>
    <tr>
      <td>name:</td>
      <td>
        <input
          type="text"
          formControlName="name"
          placeholder="Name"
          [class.invalid]="formUpdateHero.controls['name'].invalid && (formUpdateHero.controls['name'].dirty || formUpdateHero.controls['name'].touched)" />
      </td>
    </tr>
  </table>
  <app-button-submit [isLoading]="form.pending" (clicked)="onSubmit()" text="Update"></app-button-submit>
</form>
