<!-- Top Heroes -->
<div class="top-heroes" *ngIf="heroes">
  <h2 class="top-heroes__title text-center">Top Heroes</h2>

  <ul class="top-heroes-list" *ngIf="heroes && (heroes.length > 0)">
    <li routerLink="/heroes/{{hero._id}}" class="top-heroes-list__item" *ngFor="let hero of heroes | slice:0:4">
      {{hero.name}}
    </li>
  </ul>

  <p class="text-center" *ngIf="heroes && (heroes.length === 0)">
    There are no heroes in the database. Let's add a new <a routerLink="/heroes">hero</a>.
  </p>
</div>
