// ==========================================================================
// Top Heroes
// ==========================================================================

.top-heroes { }

.top-heroes-list {
  height: 100px;
  list-style-type: none;
  padding: 0;
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 30px;

  @media screen and (max-width: 600px) {
    flex-direction: column
  }

  &__item {
    width: 100%;
    height: 100%;
    display: flex;
    padding: 10px;
    align-items: center;
    justify-content: center;
    background-color: #01275b;
    transition-duration: 0.5s;
    color: #fff;
    text-decoration: none;
    cursor: pointer;

    @media screen and (max-width: 600px) {
      padding: 30px 0;
    }

    &:hover {
      background-color: #003175;
    }
  }

  &__item + &__item {
    border-left: 1px solid white;

    @media screen and (max-width: 600px) {
      border-left: none;
      border-top: 1px solid white;
    }
  }
}
