// ==========================================================================
// Base
// ==========================================================================

* {
  box-sizing: border-box;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-color: #fafafa;

  @media screen and (max-width: 600px) {
    background-color: white;
  }
}

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  color: $C_alzaDarkBlue;
  margin: 0;
  margin-bottom: 0.8em;
}

input {
  -webkit-appearance: none;
  appearance: none;
  margin: 10px 0;
  padding: 11px 10px 12px;
  border: 1px solid #dddddd;

  &.invalid {
    border: 1px solid red;
  }
}

p {
  line-height: 1.5em;

  a {
    color: $C_alzaDarkBlue;
    font-weight: bold;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}

.text-center {
  text-align: center;
}
