// ==========================================================================
// Button
// ==========================================================================

.button {
  padding: 14px 15px;
  background-color: rgba(1, 39, 91, 0.08);
  margin: 0 10px 0 0;
  color: #01275b;
  text-decoration: none;
  border-radius: 3px;
  font-size: 14px;
  font-weight: 500;
  float: left;
  transition-duration: 0.3s;
  cursor: pointer;
  border: none;

  &:hover {
    background-color: rgba(1, 39, 91, 0.16);
  }

  &--danger {
    background-color: rgba(91, 1, 1, 0.15);
    color: #5b0202;

    &:hover {
      background-color: rgba(91, 1, 1, 0.3);
    }
  }

  &--active {
    background-color: rgba(1, 39, 91, 0.16);
  }
}
