<!-- Page: Hero Detail -->
<div class="heroes-detail" *ngIf="(heroDetail$ | async) as heroDetail">

  <!-- Loading... -->
  <app-spinner *ngIf="heroDetail.network.pending"></app-spinner>
  <ng-container *ngIf="!heroDetail.network.pending">

    <!-- When hero does not exist -->
    <p *ngIf="heroDetail.data === null">
      Selected hero does not exist. You can find different one in <a href="/heroes" routerLink="/heroes">list of heroes</a>.
    </p>

    <!-- Content -->
    <h2 class="heroes-detail__title">{{heroDetail.data.name}}</h2>

    <div class="heroes-detail__form" *ngIf="heroDetail.data !== null">
      <app-form-update-hero
        (heroUpdated)="onUpdateHero($event)"
        [form]="heroDetail.formUpdateHero"
        [hero]="heroDetail.data">
      </app-form-update-hero>
    </div>

    <button *ngIf="heroDetail.data !== null" (click)="goBack()" class="button">&laquo; Go back</button>
  </ng-container>
</div>
