// ==========================================================================
// Heroes Detail
// ==========================================================================

.heroes-detail {
  &__form {
    margin: 30px 0 50px;
  }
}
