<!-- Page: Dashboard -->
<div class="dashboard">

  <!-- Top Heroes -->
  <ng-container *ngIf="(heroes$ | async) as heroes">
    <app-spinner *ngIf="heroes.network.pending"></app-spinner>
    <app-top-heroes [heroes]="heroes.data" *ngIf="!heroes.network.pending"></app-top-heroes>
  </ng-container>
</div>
