<!-- Page: Heroes -->
<div class="heroes">
  <h2 class="heroes__title">My Heroes</h2>

  <ng-container *ngIf="(heroes$ | async) as heroes">
    <!-- Form: Create Hero -->
    <app-form-create-hero
      (heroCreated)="onCreateHero($event)"
      [form]="heroes.formCreateHero">
    </app-form-create-hero>

    <!-- Heroes List -->
    <app-spinner *ngIf="heroes.network.pending"></app-spinner>
    <app-list-heroes
      *ngIf="!heroes.network.pending"
      [heroes]="heroes.data"
      (selectChanged)="onSelectHero($event)">
    </app-list-heroes>

    <!-- Quick Hero Detail -->
    <app-quick-detail-hero
      *ngIf="!heroes.network.pending"
      [removeHeroButtonLoading]="heroes.removeHeroButtonLoading"
      [hero]="heroes.selectedHero"
      (remove)="onRemoveHero($event)">
    </app-quick-detail-hero>
  </ng-container>
</div>
