// ==========================================================================
// App
// ==========================================================================

.page-wrapper {
  width: 100%;
  max-width: 800px;
  padding: 30px;
  margin: 30px auto;
  background-color: white;
  border: 1px solid rgba(2, 39, 91, 0.05);
  overflow: hidden;

  @media screen and (max-width: 600px) {
    border: none;
  }
}
