// ==========================================================================
// Header
// ==========================================================================

.header {
  margin-bottom: 60px;
}

//
// Primary Navgation
// ==========================================================================

.nav-primary-list {
  display: flex;
  list-style-type: none;
  padding: 0;
}
