<!-- Header -->
<header class="header">
  <h1>Tour of Heroes</h1>

  <!-- Navigation -->
  <nav class="nav-primary">
    <ul class="nav-primary-list">
      <li class="nav-primary-list__item">
        <a class="nav-primary-list__link button" routerLink="/dashboard" routerLinkActive="button--active">Dashboard</a>
      </li>
      <li class="nav-primary-list__item">
        <a class="nav-primary-list__link button" routerLink="/heroes" routerLinkActive="button--active">Heroes</a>
      </li>
    </ul>
  </nav>
</header>
