<!-- List Heroes -->
<div class="list-heroes-container">
  <ul class="list-heroes" *ngIf="heroes && (heroes.length > 0)">
    <ng-container *ngFor="let hero of heroes">
      <li class="list-heroes-item" (click)="selectHero(hero)">
        <span class="list-heroes-item__id">{{hero._id}}</span>
        <span class="list-heroes-item__name">{{hero.name}}</span>
      </li>
    </ng-container>
  </ul>

  <p *ngIf="heroes && (heroes.length === 0)">
    List of heroes is empty.
  </p>
</div>
