// ==========================================================================
// List Heroes
// ==========================================================================

// Imports
@import "variables";

// Styles
.list-heroes {
  width: 100%;
  display: table;
  list-style-type: none;
  padding: 0;
}

.list-heroes-item {
  display: table-row;
  cursor: pointer;

  &__id {
    background-color: $C_alzaDarkBlue;
    color: white;
    padding: 10px 10px;
    display: table-cell;
    border-bottom: 1px solid white;
    vertical-align: middle;
    transition-duration: 0.3s;

    @media screen and (max-width: 600px) {
      max-width: 50px;
      overflow: hidden;
      text-overflow: ellipsis;
    }
  }

  &__name {
    width: 100%;
    padding: 10px 15px;
    background-color: #eaeaea;
    display: table-cell;
    border-bottom: 1px solid white;
    vertical-align: middle;
    transition-duration: 0.3s;
  }
}

.list-heroes-item:hover {
  .list-heroes-item__name {
    background-color: #e1e1e1;
  }
  .list-heroes-item__id {
    background-color: $C_alzaDarkBlue;
  }
}
