// ==========================================================================
// Form: Create Hero
// ==========================================================================

.form-create-hero {
  &__title {
    display: block;
    margin-bottom: 10px;
  }

  &__input {
    width: 183px;
    float: left;
    margin: 0 5px 0 0;

    @media screen and (max-width: 600px) {
      width: 100%;
      margin: 0 0 10px 0;
    }
  }
}


