<!-- Form: Create Hero -->
<form class="form-create-hero" [formGroup]="formCreateHero" (ngSubmit)="onSubmit()">
  <span class="form-create-hero__title">Add new hero</span>
  <input
    class="form-create-hero__input"
    [class.invalid]="formCreateHero.controls['name'].invalid && (formCreateHero.controls['name'].dirty || formCreateHero.controls['name'].touched)"
    type="text"
    placeholder="Name"
    formControlName="name" />

  <app-button-submit [isLoading]="form.loading" theme="blue" text="Create" (clicked)="onSubmit()"></app-button-submit>
</form>

