// ==========================================================================
// Hero Quick Detail
// ==========================================================================

.quick-detail-hero {
  &__title {
    margin: 60px 0 20px;
  }

  &__link {
    color: #01275b;
    text-decoration: none;
    padding: 10px 15Px;
    background-color: #d9dfe6;
    border-radius: 3px;
  }
}
