<!-- Hero Quick Detail -->
<div class="quick-detail-hero" *ngIf="hero">
  <h2 class="quick-detail-hero__title">{{hero.name}} is my hero</h2>
  <a class="button" routerLink="/heroes/{{hero._id}}">View Details</a>

  <app-button-submit
    [isLoading]="removeHeroButtonLoading"
    theme="red"
    text="Remove hero"
    (clicked)="removeHero()">
  </app-button-submit>
</div>
