<!--
  Button Submit
  button with built in loading spinner
-->
<button type="button" class="button-submit {{themeClass}}" (click)="onClick()">
  <span *ngIf="!isLoading" class="button-submit__copy">{{text}}</span>
  <app-spinner
    *ngIf="isLoading"
    [isInline]="true"
    [isSmall]="true"
    theme="transparent">
  </app-spinner>
</button>
