// ==========================================================================
// Button Submit
// ==========================================================================

.button-submit {
  width: 170px;
  padding: 0px 25px;
  height: 43px;
  border: none;
  color: #fff;
  cursor: pointer;
  text-align: center;
  background-color: #01275b;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 3px;

  &:hover {
    background-color: #003175;
  }

  &--loading {
    pointer-events: none;
  }

  &--theme-red {
    background-color: rgb(167, 0, 0);
    color: #ffffff;

    &:hover {
      background-color: rgba(167, 0, 0, 0.8)
    }
  }
}
