// ==========================================================================
// Loading spinner
// ==========================================================================

.spinner {
  border: 3px solid #f3f3f3;
  border-radius: 50%;
  width: 30px;
  height: 30px;
  -webkit-animation: spin 2s linear infinite;
  -moz-animation: spin 2s linear infinite;
  animation: spin 2s linear infinite;
  display: inline-block;

  &--small {
    width: 10px;
    height: 10px;
  }

  &--theme-blue {
    border-top: 3px solid #01275b;
  }

  &--theme-red {
    border-top: 3px solid #a70000;
  }

  &--theme-transparent {
    border-top: 3px solid transparent;
  }
}

.spinner-wrapper {
  height: 150px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  opacity: 0;

  -webkit-animation: fadeIn 0.5s linear 0.5s forwards;
  -moz-animation: fadeIn 0.5s linear 0.5s forwards;
  animation: fadeIn 0.5s linear 0.5s forwards;

  &--inline {
    height: auto;
    width: auto;
    display: inline-block;
    opacity: 1;
    -webkit-animation: none;
    -moz-animation: none;
    animation: none;
  }
}
